# Git
.git
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# Virtual environment
.env/
.venv/
venv/

# PyCharm
.idea

# VSCode
.vscode/*