[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["email"],version = "*"}
PyJWT = "*"
sqlalchemy = "*"
pytz = "*"
pyhumps = "*"
starlette = "*"
alembic = "*"
sqlalchemy-pagination = "*"
redis = "*"
psycopg2-binary = "*"
jinja2 = "*"
passlib = {extras = ["bcrypt"],version = "*"}
requests = "*"
aiofiles = "*"
secure = "*"

[requires]
python_version = "3.7"

[scripts]
# Not to be run in production - should use gunicorn ontop
serve-dev = "uvicorn --log-level=debug --reload --port=3001 app.main:app"
