ul.candidate-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li:not(:last-child) {
        margin-bottom: 1rem;
    }
}

ul.candidate-list li,
.candidate-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;

    &.clickable {
        cursor: pointer;

        &:hover {
            border: 1px solid $gray-light;
        }
    }

    &.selected {
        border: 1px solid $brand-primary;
    }

    .candidate-party-bar {
        flex: 0 0 100%;
        height: 6px;
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        .candidate-progress-bar {
            height: 6px;
            border-top-left-radius: 3px;
        }
    }

    .candidate-item--avatar {
        width: 70px;
        height: 70px;
        border-bottom-left-radius: 3px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .candidate-item--info {
        padding: 0.85rem;
        overflow-y: auto;
        flex-grow: 1;
        max-height: 70px;

        .candidate-party {
            font-weight: normal;
            font-size: 0.8rem;
        }

        .candidate-name {
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
}
